{{#each errors}}
<h2>{{text}}</h2>
{{/each}}

<center>
    <h1>Crear Usuario</h1>
    <div class="container my-5">
        <form action="/users/new-user" method="POST" class="form-group">
            <div class="">
                <input type="text" name="name" placeholder="Name" autofocus>
            </div>
            <div class="">
                <textarea name="email" placeholder="Email"></textarea>
            </div>
            <div class="">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</center>